.header-top{
    height: 60px;
    background-color: #0f1111;
    font-size: 14px;
    display: flex;
    color: white;
    padding-right: 8px;
}

.header_menu{
    display:flex;
}

.header_menu > div{
    margin: 10px;
}
.header_menu_logo{
    object-fit: contain;
    width:100px;
    margin:12px 20px 0px 2px;
}

.header_menu_signin{
    display: flex;
    flex-direction: column;
}

.header_menu_top_item{
    font-size: 10px;
    color: lightgray;
    /* color: red; */
}
.header_menu_bottom_item{
    font-size: 13px;
    /* color: lightgray; */
    font-weight: 800;
}

