<div class="header">
  <nav class="header-top">
    <div class="header_menu">
      <div class="header_menu_icon">

      </div>
      <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo" alt="smile">
      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input">
        <div class="header_menu_searchbar_icon">

        </div>

      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">Hello, SIgn in</span>
        <span class="header_menu_bottom_item">Accounts & Lists</span>

      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">Returns</span>
        <span class="header_menu_bottom_item"> & Orders</span>

      </div>
      <div>

      </div>
    </div>


  </nav>
  <nav class="header_bottom"></nav>
</div>